# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
build/
bld/

# Published / deploy artifacts
publish/
*.zip

# .NET / Visual Studio
*.user
*.suo
*.userprefs
.vs/
*.cache
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
.nuget/

# Rider / Resharper
.idea/
_ReSharper*/

# OS
.DS_Store
Thumbs.db

# Local secrets / app config overrides
appsettings.*.local.json
secrets.json

# Logs
*.log
